<div>
    <div class="header">
        <!-- <div class="sides">
            <a href="#" class="logo">BLOG</a>
        </div> -->
        <!-- <div class="sides"> <a href="#" class="menu"> </a></div> -->
        <div class="info">
            <!-- <h4><a href="#category">UI DESIGN</a></h4> -->
            <h1>Latest Global Data Info</h1>
            <div class="meta">
                Data collected<br>
                From <a href="https://coronavirus-19-api.herokuapp.com/all" target="_b">coronavirus-19-api</a>
            </div>
        </div>
    </div>
    <div [class]="tableDivClass">
        <div class="emptyHeaderContainer">
            <h2 *ngIf="1 > items.length">No Data found</h2>
        </div>
        <table class="table table-striped table-dark">
            <!-- <thead *ngIf="items.length > 1">
                <tr>
                    <th  scope="col">#</th>
                    <th scope="col">Cases</th>
                    <th scope="col">Deaths</th>
                    <th scope="col">Recovered</th>
                    <th scope="col">Date</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let item of items; index as i">
                    <!-- <th *ngIf="items.length > 1" scope="row">{{ i + 1 }}</th> -->
                    <td>
                        <h2>Cases:</h2>
                        <h3>{{ item.cases | number }}</h3>
                    </td>
                    <td>
                        <h2>Deaths:</h2>
                        <h3>{{ item.deaths | number }}</h3>
                    </td>
                    <td>
                        <h2>Recovered:</h2>
                        <h3>{{ item.recovered | number }}</h3>
                    </td>
                    <td>
                        <h2>Date:</h2>
                        <h3>{{ item.datetime }}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>