<div>
    <div class="header">
        <div class="info">
            <h1>Latest Global Data Info</h1>
            <div class="meta">
                Data collected<br>
                From <a href="https://coronavirus-19-api.herokuapp.com/all" target="_b">coronavirus-19-api</a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="min-height: 500px;">

        <div class="container">
            <div class="row">
                <div class="col-sm float-left">
                    <div *ngIf="items.length > 0" ngbDropdown #gdd="ngbDropdown" class="d-inline-block">
                        <button class="btn btn-outline-secondary btn-lg m-2 dark float-right" id="dropdownGlobal"
                            ngbDropdownToggle>Columns' visibility</button>
                        <div ngbDropdownMenu autoClose="false" aria-labelledby="dropdownGlobal"
                            style="background-color: lightgray;">
                            <pre class="float-right m-2">Select columns, you want to show/hide.</pre>
                            <div class="container mb-2">
                                <div class="row">
                                    <div class="col-sm p-2">
                                        <button type="button" class="btn btn-secondary btn-sm float-left btn-block"
                                            (click)="globalDropDownSelectAction('select')">Select All</button>
                                    </div>
                                    <div class="col-sm p-2">
                                        <button type="button" class="btn btn-secondary btn-sm float-right btn-block"
                                            (click)="globalDropDownSelectAction('deselect')">Deselect All</button>
                                    </div>
                                    <div class="col-sm p-2">
                                        <button type="button" class="btn btn-secondary btn-sm float-right  btn-block"
                                            (click)="saveSetup('globalHeaderCells', gdd)">Save setup</button>
                                    </div>
                                </div>
                            </div>
                            <label *ngFor="let gcheader of globalheadercells"
                                class="btn-outline-secondary mb-0 border-bottom border-dark" style="border-radius: 0;"
                                ngbButtonLabel ngbDropdownItem>
                                <input class="mr-1" type="checkbox" ngbButton
                                    [(ngModel)]="gcheader.visibility">{{gcheader.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm float-right">
                    <input class="btn btn-secondary btn-lg m-2 float-right" type="button" (click)="getForceData()"
                        value="Refresh" />
                    <input *ngIf="items.length > 0" class="btn btn-secondary btn-lg m-2 float-right" type="button"
                        (click)="savePDF()" value="Save as PDF" />
                    <div *ngIf="loading" class="spinner-border text-dark float-right" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="emptyHeaderContainer mt-3">
            <h2 *ngIf="1 > items.length">No Data found</h2>
        </div>
        <div class="info_table table-responsive">
            <table *ngIf="items.length > 0" class="table table-striped table-dark">

                <tbody>
                    <tr *ngFor="let item of items; index as i">
                        <td *ngIf="globalheadercells[0].visibility">
                            <b>{{globalheadercells[0].name}}</b>
                            <br />
                            {{ item.cases | number }}
                        </td>
                        <td *ngIf="globalheadercells[1].visibility">
                            <b>{{globalheadercells[1].name}}</b>
                            <br />
                            {{ item.deaths | number }}
                        </td>
                        <td *ngIf="globalheadercells[2].visibility">
                            <b>{{globalheadercells[2].name}}</b>
                            <br />
                            {{ item.recovered | number }}
                        </td>
                        <td *ngIf="globalheadercells[3].visibility">
                            <b>{{globalheadercells[3].name}}</b>
                            <br />
                            {{ item.datetime }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="display: none;">
                <table id="myTableElementId">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th *ngFor="let cheader of globalheadercells" scope="col">{{cheader.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; index as i" style="margin: 2%;">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ item.cases | number }}</td>
                            <td>{{ item.deaths | number }}</td>
                            <td>{{ item.recovered | number }}</td>
                            <td>{{ item.datetime  }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>